body {
    height: 100vh;
}

.header {
    /* height: 50px; */
    width: 100%;
    height: 6em;
    background-color: #e7dfc6;
}

.page_title {
    padding: 0.5em 0 0.5em 0;
    margin: auto;
}

.content {
    padding: 5em 0 5em 0;
}


/* --------------registration-page-------------- */

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.registration {
    padding-left: 10%;
    padding-bottom: 5%;
    border-right: 1px solid #b2675e;
}

.login {
    padding-right: 10%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.registration div, .login div {
    padding: 0.5em;
}

label {
    padding-right: 1em;
}

input[type="radio"] {
    margin: 0.5em;
}



@media (max-width:767px) {
    .registration {
        border: none;
    }

    .login {
        padding-left: 10%;
    }

}

/* --------------shopping-cart-page-------------- */

.product-list {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.product-list.div {
    padding: 5%;
}

table {
    width: 100%;
}


.product-list.total {
    font-weight: bold;
}

.billing-info-1 {
    padding-left: 10%;
    padding-bottom: 2%;
}

.billing-info-2 {
    padding-right: 10%;
    padding-bottom: 2%;
}

textarea {
    width: 100%;
    height: 10em;
}

.billing-info-1 div, .billing-info-2 div {
    padding: 0.5em;
}

.confirm {
    padding-right: 10%;
}

.confirm>div>input {
    float: right;
}

@media (max-width:767px) {

    .billing-info-2 {
        padding-left: 10%;
    }
}

/* --------------confirm-page-------------- */

.logo {
    color: #546a7b;
    background-color: transparent;
    font-family: 'Dela Gothic One', cursive;
}

.main-message {
    padding-bottom: 0.8em;
}