.product-name {
    color: red;
    font-family: 'Noto Serif TC', serif;
    font-size:xx-large;
}

.product-pic figure {
    display: flex;
    justify-content: center;
}

footer {
    display: block;
    color: rgb(0, 119, 255);
    height: 1000px;
    margin-top: 1.5em;

}