/* @font-face {
    font-family: 'bananaslipplus';
    src: url('./fonts/bananaslipplus/bananaslipplus.otf') format('opentype');
} */


#container {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 100;
    height: auto !important;
    min-height: 100%;
}

#header {
    padding-top: 2%;
    background-color: white;
    font-family: 'Dela Gothic One', cursive;
}

.product-name {
    color: #546a7b;
    font-size: 600%;
    text-align: center;
}

.product-name small {
    font-size: 0.6em;
    color: white;
    text-shadow: 0 0 10px #546a7b;
}

#content {
    padding: 1em 0 2em 0;
}


.left {
    /* background-color: #393D3F; */
    text-align: center;
}

.product-pic {
    height: 400px;
    padding: 5% 0 5% 0;
}

.right {
    background-color: #e9cfbd;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgb(150, 150, 150);
}

.product-price {
    font-family: 'Dela Gothic One', cursive;
    font-size: 380%;
    padding: 0.5em 0 0.5em 5px;
    margin: 0 0 0.5em 0;
}

.product-price:before {
    content: "$";
}

.checkout {
    padding: 1em 1.5em 1em 5px;
    font-size: 110%;
}

input[type="number"] {
    width: 100%;
    display: block;
    margin: 0.3em 0 1.8em 0;
}

#footer {
    background-color: #62929e;
    width: 100%;
}

#footer small {
    display: block;
    color: #fdfdff;
    font-style: italic;
    padding: 1em 0 5em 0;
    text-align: center;
}